body {
  width: 50vw;
  height: 100vh;
  background-color: white;
  margin: auto;
}

.header {
  list-style: none;
  padding: 0;
  margin: 2%;
  height: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
}
.header button {
  display: inline-block;
  width: 16vw;
  padding: 5% 0;
  margin: 0;
  text-align: center;
  background-color: rgb(57, 145, 196);
  color: white;
}

.header button:hover {
  background-color: rgb(23, 104, 180);
}
.btn {
  width: 60%;
  display: none;
  justify-content: space-between;
  margin: auto;
}
.btn button {
  padding: 3%;
}
.clock {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.start {
  background-color: green;
  color: white;
}
.start:hover {
  transform: scale(1.2);
}
.stop {
  background-color: red;
  color: white;
}
.stop:hover {
  transform: scale(1.2);
}
.reset {
  background-color: antiquewhite;
}
.reset:hover {
  transform: scale(1.2);
}
